image: xorly/arm-none-eabi-gcc

build:
  stage: build

  variables:
    GIT_SUBMODULE_STRATEGY: recursive

  script:
    - bash ./compile.sh all

  artifacts:
    paths:
      - build/*/*.elf
      - build/*/*.hex
      - build/*/disasm
